# Pandas

You can think of pandas as an extremely powerful version of Excel, with a lot more features. This is what we will see in this sections

* Series
* DataFrames
* Missing Data
* GroupBy
* Merging, Joining and Concatenating
* Operations
* Data Input and Output

## Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]

In [3]:
arr = np.array([10,20,30])

In [4]:
d = {'a':10,'b':20,'c':30}

In [5]:
my_list

[10, 20, 30]

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [15]:
d

{'a': 10, 'b': 20, 'c': 30}

In [16]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [19]:
pd.Series(d) #You can also use dictionaries directly and convert to a pd series

a    10
b    20
c    30
dtype: int64

In [20]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [21]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [22]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [23]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [24]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [28]:
ser2[1]

2

In [27]:
ser2['Germany']

2

In [29]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64